
<% content_for :page_title, @article.title %>

<% content_for :featured_image, @article.featured_image.url if @article.featured_image.present? %>

<% unless @video_id.blank? %>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @video_id %>?rel=0" frameborder="0"></iframe>
<% end %>

<% unless @soundcloud_embed.blank? %>
  <%= @soundcloud_embed.html_safe %>
<% end %>

<div class='article-body'>
  <%= @article.body.html_safe %>
</div>

<div class='arrow-nav'>
  <% unless @prev.blank? %>
    <%= link_to "<< Previous Article", short_article_path(@prev.group, @prev), class: 'previous' %>
  <% end %>
  <% unless @next.blank? %>
    <%= link_to "Next Article >>", short_article_path(@next.group, @next), class: 'next' %>
  <% end %>
</div>
