<%= form_for(@meditation) do |f| %>
  <% if @meditation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meditation.errors.count, "error") %> prohibited this meditation from being saved:</h2>

      <ul>
      <% @meditation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :media_url %><br>
    <%= f.text_field :media_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
