<% content_for :page_title, @meditation.name %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meditation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meditation.description %>
</p>

<p>
  <audio src="<%= @meditation.media_url %>" controls>
    Your browser does not support the <code>audio</code> element.
  </audio>
</p>

<p>
  <div class='slick-carousel'></div>
  <% @meditation.images.find_each do |image| %>
    <div>
      <img src="<%= image.url %>" alt="<%= image.alt %>" title="<%= image.title %>">
    </div>
  <% end %>
</p>
<%= link_to 'Back', meditations_path %>
