<% content_for :page_title, @meditation.name %>

<p><%= @meditation.description.html_safe %></p>

<br>

<% unless @soundcloud_embed.blank? %>

  <button class="button start-meditation">Start meditation</button>

  <div class="meditation-container">

    <div class='slick-carousel'>
      <% @meditation.images.order(:position).find_each do |image| %>
        <div style="background-image: url(<%= image.url %>);"></div>
      <% end %>
    </div>

    <%= link_to '', @meditation.media_url, class: 'sc-player' %>

    <button class="close">Exit</button>
  </div>

<% else %>
  <p>Meditation coming soon&hellip;</p>
<% end %>

<div class='arrow-nav'>
  <% unless @prev.blank? %>
    <%= link_to "<< Previous", @prev, class: 'previous' %>
  <% end %>
  <% unless @next.blank? %>
    <%= link_to "Next >>", @next, class: 'next' %>
  <% end %>
</div>
