<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><% if content_for?(:page_title) %> <%= yield :page_title %> | <% end %> Karuna</title>

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name='viewport' content='width = device-width, initial-scale=1'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta property="og:title" content="<% if content_for?(:page_title) %> <%= yield :page_title %> | <% end %> Karuna">
  <meta property="og:site_name" content="Karuna">
  <meta property="og:image" content="<%= asset_url('logo-red.png') %>">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag :application, media: 'all' %>

  <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='header'>
    <%= link_to image_tag('logo.png'), root_path, class: "logo#{request.path == root_path ? ' red' : nil}" %>

    <nav class='group-nav'>
      <%= render partial: 'layouts/nav' %>
    </nav>

    <div class="container">

      <% if content_for?(:page_title) %>
        <h1 class='page-title'>
          <%= yield :page_title %>
        </h1>
      <% end %>
    </div>
  </header>

  <section class='main'>
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <footer class='footer'>
    <div class="container">
    <div class="grid-container">

      <div class="one-half">
        &copy; <%= Time.zone.now.year %>
        <%= link_to 'Karuna Hsopice Service Ltd.', 'http://karuna.org.au/' %>

        <ul class="social-links">
          <li class="facebook">
            <img alt="facebook" src="//karuna.org.au/img/social/facebook.png" href="https://www.facebook.com/KarunaHospice">
          </li>
          <li class="twitter">
            <img alt="twitter" src="//karuna.org.au/img/social/twitter.png">
          </li>
        </ul>
      </div>
      <div class="one-half last">
        <div class="footer-nav-links">
          <%= link_to 'About', 'http://karuna.org.au/volunteer' %> | <%= link_to 'Volunteer', 'http://karuna.org.au/volunteer' %> | <%= link_to 'Contact Us', 'http://karuna.org.au/contact' %> | <%= link_to 'Admin', admin_root_path %>
        </div>

        <% if current_admin_user %>
          <small>Currently logged in as <strong><%= current_admin_user.email %></strong></small>
        <% end %>

      </div>
    </div>
  </footer>
</body>
</html>
